@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap');

/*
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
body{
    background: #eff1f4ff;
    overflow-x: hidden;
}

#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -18rem;

    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

    background-color: #3e4856ff;
}
#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    background-color: #262d37ff;
    color: #fff;
    height: 64px;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
}
#sidebar-wrapper .sidebar-heading img{
    width: 30px;
    padding-bottom: 3%;
    padding-right: 3%;
}
#sidebar-wrapper .list-group{
    width: 18rem;
}
#sidebar-wrapper .list-group-item{
    background-color: #3e4856ff;
    color: #fff;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    padding: 10%;
    padding-left: 15%;

}

#sidebar-wrapper .list-group-item:hover{
    background-color: #262e39f0;
    color: #fff;

}
#sidebar-wrapper .list-group-item i{
    padding-right: 5.5%;
    font-size: 18px;
}
#page-content-wrapper{
    min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper{
    margin-left: 0;
}
/* SE EU ESTIVER EM UMA TELA GRANDE*/
@media(min-width:768px){
    #page-content-wrapper{
        min-width: 0;
        width: 100%
    }
    #sidebar-wrapper{
        margin-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper{
        margin-left: -18rem;
    }
}
/*----------------------------------------------------*/
#navbar-site-title{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-left: 1.2%;
}
.son-form-field{
    border-radius: 10px;
    border-width: 1px;
    border-color: #bacad6ff;
    box-shadow: 0px 1px 2px rgba(164,164,164,0.2);
    color: #000;
    font-family: 'Nurito', sans-serif;
    font-size: 16px;
}
.son-form-field::placeholder{
    color: #c4c8ccff;
    font-family: 'Nurito', sans-serif;
    font-size: 16px;
}
#navbar-search-form{
    width: 350px;
}

#navbar-search-field{
    width: 100%;
}

#navbar-profile img{
    border-radius: 50%;
    width: 12%;
}
#navbar-profile{
    padding-left: 4%;
    color: #262d37ff; 
    font-family: 'Nurito', sans-serif;
}
#son-navbar{
    background-color: #fff;
    box-shadow: 8px 2px 6px rgba(164,164,164,0.3);
    height: 64px;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}


/* ----------------------------------------------------------- */

#menu-toggle{
    background-color: #262d37ff;
    width: 82px;
    height: 64px;
    color: #fff;
    padding-top: 14px;
}

#menu-toggle img{
    width: 30px;
}
/* ------------------------------------------------------- */

#content{
    margin-top: 50px;
}
.son-main-text-3{
    font-family: 'Nurito', sans-serif;
    color: #262d37ff;  
    font-size: 30px;
    margin-bottom: 15px;
}
.son-form{
    border-radius: 9px;
    box-shadow: 0px 4px 6px rgba(164,164,164,0.3);
}
.son-form-body{
    padding: 2%;
}
.confirm-btns{
    background-color: #f5f7faff;
}
.form-group label{
    font-size: 17px;
    color: #a3a8aeff;
}
.confirm-btns button{
    font-family: 'Nurito', sans-serif;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 12px;
    background-color: #5898d9ff;
    border: none;
}
.confirm-btns button:hover{
    background-color: #2b74bfff;
}
.table{
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(164,164,164,0.3);
}
.table thead{
    background: #f7f6fb;
}
.table-col-title{
    font-family: 'Nurito', sans-serif;
    font-size: 13px;
    color: #78797d;
}
.table tbody{
    font-family: 'Nurito', sans-serif;
    font-size: 16px;
    color: #78797d;
}
.table-title{
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.table-title input{
    width: 30%;
}
#vendas-h3{
    margin-top: 5vh;
    margin-bottom: 2vh;
}